 #textMainPrimaryPage{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
/* or 22px */

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
}
#headerMainPrimaryPage {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 59px;
    display: flex;
    align-items: center;
}
#h1PrimaryPage {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 78px;
    display: flex;
    align-items: center;  
    letter-spacing: auto; 
    padding-left: 31px;
}